.App {
   color: black !important;
  font-family: 'PT Sans', sans-serif;
}

#mygreen{
  background-color: #ccffff;
}

#box_shadow{
  box-shadow: 2px 2px #bec0c4;
  padding: 18px;
  border: 3px solid black;
  border-radius: 20px;
  box-align: center;
  margin-top : 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
 }

#case {
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
}
 #content{
  text-align: center;
} 

 .flex-container {
  display: flex;
  flex-direction: row; 
  padding: 2px;
  margin :10px;
  justify-content: center;
} 

.card{
  margin-bottom: 0.5%;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 3%;
  border: 1px solid black;
  font-size: 150%;
  padding: 4px;
  color: black;
  /* position: relative;
  top: 70px; */

}

.timeline{
  background-color: 	  #ffff00;
}

.form {
  margin: 0 auto;
  padding: 100px 30px 0;
  
}

.input-range {
  margin-bottom: 160px;
}

.vl {
  border-left: 2px solid black;
  height: 1200px;
  position: relative;
  left : 500px;
  bottom: 600px;
}

#contain{
 padding-top:-7%; 
  display: flex;
  flex-direction: row;
  flex-wrap : wrap;
  justify-content: space-between;
}

#left-indiv{
 margin-top: 3.7%;
 margin-left: 0.7%;
 display: flex;
 flex-direction: column;
 flex: 3;
 /* justify-content: flex-start; */
 /* align-content: center; */
 align-items: center;
}

#resCard{
  /* padding-bottom: 10%; */
  width: 100%;
  font-size:25px; 
  text-align: center
}

#graph{
  padding-top: 20px;
  
}

#vtl{
  flex: 6;
  padding: 10px;
  margin-top: 2.3%;
}

#actchips{
  flex: 3;
  margin-top: 4.2%;
  display: flex;
  flex-direction: column;
  /* justify-content: stretch; */
  /* align-items: flex-start;
  min-width: -moz-available; */
}

#searchTypes{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 7px;
  
 }

#basic{
  font-size : 20px;
  margin-right: 10px;
  font-family: 'Lato';
  font-weight: bolder;
  padding: 4px;
  }

#adv{
  font-size : 20px;
  margin-left: 10px;
  font-family: 'Lato';
  font-weight: bolder;
  padding: 4px; 
}



.MuiButton-label-40 {
  color : black
}

.searchButton{
  display: flex;
  justify-content: center;
}

.MuiButton-containedPrimary-51 {
  color: #  fff;
  background-color: #cccccc !important;
}

.ant-slider-mark-text {
  color : black !important;
  font-weight: bold;
  font-size: 20px;
}

.ant-tooltip-inner {
  font-size: 20px;
}

#basic .MuiButton-label-40 {
  color : white
}

#adv .MuiButton-label-40 {
  color: white
}

#line{
  border-left: 2px solid white;
  height: 32px;
  position: relative;
  top: 4px;

}

#drawer1{
 padding: 20px;
}

#tableInOutput{
  padding: 2%;

}

#chipCross{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul{
  font-size: 20px;
  margin: 10px;
}
li{ 
  margin : 15px;
}
 
#tabTitles{
  font-size: 20px;
}

.caption{
  font-size: 20px;
}

#judgeIndivRes{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2%;
}

#judgeLeftCol{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5px;
}

.cardInJudge{
  font-size: 35px;
  margin-bottom: 20px;
  text-align: center;
  padding: 1%;
  border: 2px solid black;
  min-width: 150%;
}

#actindiv{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly
}

.cardInActs{
  margin-top: 10%;
  margin-left:5%;
  border: 2px solid black;
  margin-bottom: 5%;
  font-size: 25px;
  text-align: center;
}

#tabsInActs{
  margin-top: 3.2%;
  min-width: 400px;
}

#updatedSearchPart{
  margin: 2%;
}

#updateButton{
  position: relative;
  left: 45%;
}

#output-advanced{
  align-content: center;
}

a {
  color: inherit !important; /* blue colors for links too */
  text-decoration: inherit !important; /* no underline */
}

a:hover {
  color: hotpink !important;
}

#act_sec{
  font-size: 20px;
}

#piegraph{
  margin-left:33%
}

#keyWordsResult{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2%
}

#keyWordLeft{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly
}

.cardInKeyWords{
  font-size: 25px;
  text-align: center;
  margin-bottom: 2%;
}

#homepageNavbar{
  margin-top: 0%;
}
