.App {
  text-align: center;
}

#mygreen{
  background-color: #ccffff;
}

#box_shadow{
  box-shadow: 2px 2px #bec0c4;
  padding: 5px;
  margin: auto;
  border: 2px solid #bec0c4;
}

#case {
  text-align: center;
}
#content{
  text-align: center
}

.flex-container {
  display: flex;
  flex-direction: row; 
  border: 3px dotted black;
  padding: 2px;
  margin :10px;
}

#card{
  margin: 10px;
  border: 1px solid black;

}

.timeline{
  background-color: 	 #a6a6a6;
  margin: 30px;
}